body {
    background: url(../images/image.jpg);
    text-align: center;
    font-family: 'Poiret One', cursive;
}
.container {
    margin-top: 10px;
}
.player-item {
    float: left;
    padding: 5px;

}

#player-input {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 300px;
    text-align: center;

}

#text {
    font-size: 60px;
    margin-top: 0;
    top: 10px;
}

#buttons-view {
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    
}
.soccerPlayer {
    width: 250px;
    height: 200px;
    padding: 5px;
    margin-right: 10px;
    margin: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: blue;
    border-color: beige;
}

p {
    color: whitesmoke;
    font-size: 15px;
}
.soccerBtn {
    margin-right: 20px;
    background-color: blue;
    color: white;
    margin-top: 20px;
}
