body {
    background-color: bisque;
    text-align: center;
    font-family: 'Poiret One', cursive;
}
.container {
    margin-top: 10px;
}
.item {
    float: left;
}

#player-input {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 300px;
    text-align: center;

}

#text {
    font-size: 60px;
    margin-top: 0;
    top: 10px;
}

#buttons-view {
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    
}
.soccerPlayer {
    padding: 10px;
    margin-right: 10px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: blue;

}
Rating {
    color: blue;
    font-size: 10px;
}
.soccerBtn {
    margin-right: 20px;
    background-color: blue;
    color: white;
}
